<header>
    <div id="logoPanel">
        <img src="/img/logo.png" alt="Ecommerce"></a>
        <div id="navBar">
                <nav>
                    <ul>
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/about">About Us</a></li>
                    </ul>
                </nav>
        </div>
        
        <div id="userInfo">
            Grzegorz brzęczyszczykiewicz
            <div id="profileLinks">
                <a href="cart">
                    <div class="smallIcon">
                        <img src="/img/cart.png" />
                    </div>
                </a>
                <span><a href="/logout">Wyloguj się</a></span>
                <span><a href="/register"><span>Nowe konto</a></span>
            </div>

        </div>
    </div>
</header>