<div class="productView">
    <div class="productImg">

    </div>
    <div class="productOptions">
        <input type="number" name="" id="" min=0 max=42>
        <button>Dodaj</button>
    </div>
    
</div>